<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/compartilhado/css/forms.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/compartilhado/css/print.css}" media="print">
<script type="text/javascript" th:src="@{/compartilhado/js/funcoesFluxo.js}" th:inline="javascript"></script>
<link rel="stylesheet" th:href="@{/compartilhado/css/principal.css}" />
</head>
<body>

<table class="tabTitForm"><tr>
<td>&nbsp;</td>
<td style="text-align:right;"><span class="stlCodForm">intFluxAge</span></td>
</tr></table>
 
<form id="interFluxoAgendaForm" action="#" method="post">
<th:block th:replace="~{compartilhado/camposControle :: conteudo}"></th:block>
<th:block th:replace="~{compartilhado/camposCtrlAgenda :: conteudo}"></th:block>
<div id="cjInterMensagem" style="display:none;">
<span id="interMensagem" style="color:red; font-size:20px; font-family:verdana;"></span><br/>
<span id="interBotaoVoltar" style="display:none;">
<input type="button" value="Voltar" onclick="fecharInterAgendaFluxo(0)" />
</span>
<span id="interBotaoOK" style="display:none;">
<input type="button" value="OK" onclick="fecharInterAgendaFluxo(1)" />
</span>
</div>
</form>

<script type="text/javascript" th:inline="javascript">
var operacaoConcluida = [[${pagina.okMetodo}]];
var rotaProximaTela = "#";
var cjInterMensagem = document.getElementById("cjInterMensagem"); 
cjInterMensagem.style.display = "";
if (operacaoConcluida == 1) {
	document.getElementById("ct_A04_STATUS").value = [[${pagina.proxStatus}]]; 
	var interMensagem = document.getElementById("interMensagem"); 
	interMensagem.innerHTML = [[${pagina.msgAcaoOK}]];
	var interBotaoOK = document.getElementById("interBotaoOK"); 
	interBotaoOK.style.display = "";
} else {
	var interMensagem = document.getElementById("interMensagem"); 
	interMensagem.innerHTML = [[${pagina.msgAcaoNOK}]];
	var interBotaoVoltar = document.getElementById("interBotaoVoltar"); 
	interBotaoVoltar.style.display = "";
}
</script>
</body>
</html>