<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="conteudo">
<!-- ----------------------------------------------------- -->
<!-- Campos de Controle - Geral para todas as Páginas -->
<!-- A04 - TABELA DE AGENDA -->
<!-- A08 - TABELA DE PERFIL (NA AGENDA) -->
<!-- A05 - TABELA DE AGENDA USUÁRIO PERFIL -->
<!-- ----------------------------------------------------- -->
<!-- AGENDA -->
<div id="cmpControleAgenda" style="display:none;">
A04_COD<input type="text" name="ct_A04_CODIGO" id="ct_A04_CODIGO" value="" />
A04_TIT<input type="text" name="ct_A04_TITULO" id="ct_A04_TITULO" value="" />
A04_DESC<input type="text" name="ct_A04_DESCRICAO" id="ct_A04_DESCRICAO" value="" />
A04_STT_DT_LIM<input type="text" name="ct_A04_STATUS_DT_LIMITE" id="ct_A04_STATUS_DT_LIMITE" value="" />
A04_DT_LIM<input type="text" name="ct_A04_DATA_LIMITE" id="ct_A04_DATA_LIMITE" value="" />
A04_STT_AGND<input type="text" name="ct_A04_STATUS" id="ct_A04_STATUS" value="" />
A04_TXT_STT<input type="text" name="ct_A04_TXT_STATUS" id="ct_A04_TXT_STATUS" value="" />
<!-- PERFIL DO USUÁRIO NA AGENDA -->
A05_PRF_TIT<input type="text" name="ct_A05_PERFIL_AGENDA_USUARIO_TITULAR" id="ct_A05_PERFIL_AGENDA_USUARIO_TITULAR" value="" />
A05_PRF_FAC<input type="text" name="ct_A05_PERFIL_AGENDA_USUARIO_FACILITADOR" id="ct_A05_PERFIL_AGENDA_USUARIO_FACILITADOR" value="" />
A05_PRF_ESP<input type="text" name="ct_A05_PERFIL_AGENDA_USUARIO_ESPECIALISTA" id="ct_A05_PERFIL_AGENDA_USUARIO_ESPECIALISTA" value="" />
A05_PRF_ANL<input type="text" name="ct_A05_PERFIL_AGENDA_USUARIO_ANALISTA" id="ct_A05_PERFIL_AGENDA_USUARIO_ANALISTA" value="" />
<!-- FATORES DA AGENDA -->
QTD_FAT_AGND<input type="text" name="ct_QTD_FATORES_AGENDA" id="ct_QTD_FATORES_AGENDA" value="" />
<!-- ESPECIALISTAS DA AGENDA -->
QTD_ESPEC_AGND<input type="text" name="ct_QTD_ESPECIALISTAS_AGENDA" id="ct_QTD_ESPECIALISTAS_AGENDA" value="" />
<!-- ----------------------------------------------------- -->
</div>

<script type="text/javascript" th:inline="javascript">
document.getElementById("ct_A04_CODIGO").value = [[${controleAgenda.ct_A04_CODIGO}]];
document.getElementById("ct_A04_TITULO").value = [[${controleAgenda.ct_A04_TITULO}]];
document.getElementById("ct_A04_DESCRICAO").value = [[${controleAgenda.ct_A04_DESCRICAO}]];
document.getElementById("ct_A04_STATUS_DT_LIMITE").value = [[${controleAgenda.ct_A04_STATUS_DT_LIMITE}]];
document.getElementById("ct_A04_DATA_LIMITE").value = [[${controleAgenda.ct_A04_DATA_LIMITE}]];
document.getElementById("ct_A04_STATUS").value = [[${controleAgenda.ct_A04_STATUS}]];
document.getElementById("ct_A04_TXT_STATUS").value = [[${controleAgenda.ct_A04_TXT_STATUS}]];
document.getElementById("ct_A05_PERFIL_AGENDA_USUARIO_TITULAR").value = [[${controleAgenda.ct_A05_PERFIL_AGENDA_USUARIO_TITULAR}]];
document.getElementById("ct_A05_PERFIL_AGENDA_USUARIO_FACILITADOR").value = [[${controleAgenda.ct_A05_PERFIL_AGENDA_USUARIO_FACILITADOR}]];
document.getElementById("ct_A05_PERFIL_AGENDA_USUARIO_ESPECIALISTA").value = [[${controleAgenda.ct_A05_PERFIL_AGENDA_USUARIO_ESPECIALISTA}]];
document.getElementById("ct_A05_PERFIL_AGENDA_USUARIO_ANALISTA").value = [[${controleAgenda.ct_A05_PERFIL_AGENDA_USUARIO_ANALISTA}]];
document.getElementById("ct_QTD_FATORES_AGENDA").value = [[${controleAgenda.ct_QTD_FATORES_AGENDA}]];
document.getElementById("ct_QTD_ESPECIALISTAS_AGENDA").value = [[${controleAgenda.ct_QTD_ESPECIALISTAS_AGENDA}]];
</script>

</th:block>
