<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="conteudo">

<form id="pdHeader" action="#" method="post">
<input type="hidden" name="pdUsuSessao" id="pdUsuSessao" value="" />
<input type="hidden" name="pdNomeUsuSessao" id="pdNomeUsuSessao" value="" />
<input type="hidden" name="pdUsuPerfil" id="pdUsuPerfil" value="" />
<input type="hidden" name="pdStatusSessao" id="pdStatusSessao" value="" />
</form>
<header class="site-header">
<a class="brand" href="/" target="_top"><span class="brand-mark">z</span><span>zeen<span class="brand-light">storm</span></span></a>
<span class="header-caption">Decisões melhores, juntos.</span>
<div class="session"><span class="status-dot"></span><span id="txt_user_session"></span>
<span id="botao_sair" style="display:none;"><button type="button" onclick="sairSessao();" class="btn-sair-paradecision">Sair ↗</button></span></div>
</header>
<script type="text/javascript" th:inline="javascript">
	var pdUsuSessao = document.getElementById("pdUsuSessao");
	var pdNomeUsuSessao = document.getElementById("pdNomeUsuSessao");
	var pdStatusSessao = document.getElementById("pdStatusSessao");
	var elementoNomeUsuarioCabecalho = document.getElementById("txt_user_session");
	if (pdUsuSessao.value == "") {
		pdNomeUsuSessao.value = "Bem-vindo";
		pdStatusSessao.value = "offline";
	}
	elementoNomeUsuarioCabecalho.innerHTML = pdNomeUsuSessao.value.toUpperCase();
</script>

</th:block>
