
<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/compartilhado/css/forms.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/compartilhado/css/print.css}" media="print">
<script type="text/javascript" th:src="@{/compartilhado/js/funcoesFluxo.js}" th:inline="javascript"></script>
<script type="text/javascript" th:src="@{/compartilhado/js/funcoesCadastro.js}" th:inline="javascript"></script>
<link rel="stylesheet" th:href="@{/compartilhado/css/principal.css}" />
</head>
<body>

<table class="tabTitForm"><tr>
<td>
<span class="stlTitForm">CADASTRO DE USUÁRIO</span>
</td>
<td style="text-align:right;"><span class="stlCodForm">CadUsuEdit</span></td>
</tr></table>

<p><b>EMPRESA: </b><span id="u_A01_NOME"></span></p>
<form id="CadastroUsuarioForm" action="#" method="post" autocomplete="off">
<span id="u_Mensagens" style="display:none; color:red;"></span>
<input type="hidden" name="u_A02_CODIGO" id="u_A02_CODIGO" value="" /><br/>
<table><tr>
<td><label for="u_a02_nome">Nome: </label>
</td><td><input type="text" name="u_a02_nome" id="u_a02_nome" value="" size="40" /><br/>
</td></tr><tr>
<td><label for="u_a02_email">E-Mail: </label>
</td><td><input type="email" name="u_a02_email" id="u_a02_email" value="" size="40" /><br/>
</td></tr><tr>
<td><label for="u_a02_usuario">Usuário: </label>
</td><td><input type="text" name="u_a02_usuario" id="u_a02_usuario" value="" size="20" /><br/>
</td></tr><tr>
<td><label for="u_a02_senha">Senha: </label>
</td><td><input type="password" name="u_a02_senha" id="u_a02_senha" value="" size="20" /><br/>
</td></tr>
</table>
<input type="checkbox" checked="checked" name="u_a02_status" id="u_a02_status" value="1" />
<label for="u_a02_status"> Status Ativo</label><br/>
<hr><br/>
<label for="perfis">Perfil do Usuário: </label><br/>
<input type="checkbox" name="eup_a03_perfil_chefe" id="eup_a03_perfil_chefe" value="1" />
<label for="eup_a03_perfil_chefe"> Chefe</label><br/>
<input type="checkbox" name="eup_a03_perfil_padrao" id="eup_a03_perfil_padrao" value="1" />
<label for="eup_a03_perfil_padrao"> Padrão</label><br/>
<hr><br/>
<input type="button" id="salvar" value="Salvar e Sair" onclick="salvarCadastroUsuario(2)" />
<input type="button" id="cancelar" value="Cancelar e Sair" onclick="cancelarCadastroUsuario(2)" />
<br/>
<th:block th:replace="~{compartilhado/camposControle :: conteudo}"></th:block>
</form>

<script type="text/javascript" th:inline="javascript">
var okRetorno = [[${pagina.okRetorno}]]
if (okRetorno == "OK") {
	document.getElementById("u_A02_CODIGO").value = [[${pagina.u_A02_CODIGO}]];
	document.getElementById("u_a02_nome").value = [[${pagina.oUsuarioModel_A02_nome}]];
	document.getElementById("u_a02_usuario").value = [[${pagina.oUsuarioModel_A02_usuario}]];
	document.getElementById("u_a02_senha").value = [[${pagina.oUsuarioModel_A02_senha}]];
	document.getElementById("u_a02_email").value = [[${pagina.oUsuarioModel_A02_email}]];
	var u_A02_STATUS = [[${pagina.oUsuarioModel_A02_status}]];
	if (u_A02_STATUS == "1") {
		document.getElementById("u_a02_status").checked = true;
	} else {
		document.getElementById("u_a02_status").checked = false;
	}
	//------------------------------------------
	var u_A03_PERFIL_CHEFE = [[${pagina.oEmpresaUsuarioPerfilModel_A03_perfil_chefe}]];
	if (u_A03_PERFIL_CHEFE == "1") {
		document.getElementById("eup_a03_perfil_chefe").checked = true;
	} else {
		document.getElementById("eup_a03_perfil_chefe").checked = false;
	}
	var u_A03_PERFIL_PADRAO = [[${pagina.oEmpresaUsuarioPerfilModel_A03_perfil_padrao}]];
	if (u_A03_PERFIL_PADRAO == "1") {
		document.getElementById("eup_a03_perfil_padrao").checked = true;
	} else {
		document.getElementById("eup_a03_perfil_padrao").checked = false;
	}
}
//----------------------------------------------------
var u_A01_NOME = document.getElementById("u_A01_NOME");
u_A01_NOME.innerHTML = document.getElementById("ct_A01_NOME").value;
</script>
</body>
</html>