
<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/compartilhado/css/forms.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/compartilhado/css/print.css}" media="print">
<script type="text/javascript" th:src="@{/compartilhado/js/funcoesFluxo.js}" th:inline="javascript"></script>
</head>
<body>

<table class="tabTitForm"><tr>
<td>
<a onclick="abrirEmpresa_Usu_Agendas('EmpresaUsuariosForm')" href="javascript:void(0);">Voltar para Lista de Agendas</a>
</td>
<td style="text-align:right;"><span class="stlCodForm">EmpUsu</span></td>
</tr></table>

<p><b>EMPRESA: </b><span id="eu_A01_NOME"></span></p>
<form id="EmpresaUsuariosForm" action="#" method="post">
<th:block th:replace="~{compartilhado/camposControle :: conteudo}"></th:block>
<div id="eu_cadastrarUsuario" style="display:none;">
<a onclick="cadastrarNovoUsuario()" href="javascript:void(0);">Cadastrar Novo Usuário</a>
</div>
<br/><span class="stlTitForm">LISTA DE USUÁRIOS:</span>
<!-- O campo abaixo serve para controle de Edição de Cadastro de Usuário -->
<input type="hidden" name="eu_A02_CODIGO" id="eu_A02_CODIGO" value="" />
<table>
<tr style="text-align: left;">
<th>Nome do Usuário</th>
<th>Perfil de Chefe</th>
<th>Perfil Padrão</th>
</tr>

<th:block th:each="linha1 : ${pagina['linhas1']}">

<th:block th:each="linha2 : ${linha1['linhas2']}">

<tr>
<td>
<span th:style="${'display:' + linha2.displayLink + ';'}">
<a onclick="editarCadastroUsuario(this.dataset.arg0)" th:attr="data-arg0=${linha2.oUsuarioModel_A02_codigo}" href="javascript:void(0);">
<th:block th:text="${linha2.oUsuarioModel_A02_nome}"></th:block></a></span>
<span th:style="${'display:' + linha2.displaySoTexto + ';'}">
<th:block th:text="${linha2.oUsuarioModel_A02_nome2}"></th:block></span>
</td>
<td><th:block th:text="${linha2.oEmpresaUsuarioPerfilModel_A03_perfil_chefe}"></th:block></td>
<td><th:block th:text="${linha2.oEmpresaUsuarioPerfilModel_A03_perfil_padrao}"></th:block></td>
</tr>

</th:block>

</th:block>

</table>
</form>
<script type="text/javascript" th:inline="javascript">
var eu_A01_NOME = document.getElementById("eu_A01_NOME");
eu_A01_NOME.innerHTML = document.getElementById("ct_A01_NOME").value;
//  -----------------------------------------------------------------
//  ### contorle de permição de visualização da lista de Usuários ###
var eu_A03_PERFIL_PARAVIVERBEM = document.getElementById("ct_A03_PERFIL_PARAVIVERBEM");
var eu_A03_PERFIL_ADMINISTRADOR = document.getElementById("ct_A03_PERFIL_ADMINISTRADOR");
var eu_cadastrarUsuario = document.getElementById("eu_cadastrarUsuario");
if (eu_A03_PERFIL_PARAVIVERBEM.value == "1" || eu_A03_PERFIL_ADMINISTRADOR.value == "1") {
	eu_cadastrarUsuario.style.display = "";
}
</script>
</body>
</html>