
<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" th:href="@{/compartilhado/css/forms.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/compartilhado/css/print.css}" media="print">
<script type="text/javascript" th:src="@{/compartilhado/js/funcoesFluxo.js}" th:inline="javascript"></script>
<script type="text/javascript" th:src="@{/compartilhado/js/funcoesCadastro.js}" th:inline="javascript"></script>
<link rel="stylesheet" th:href="@{/compartilhado/css/principal.css}" />
</head>
<body>

<table class="tabTitForm"><tr>
<td>
<span class="stlTitForm">CADASTRO DE CRITÉRIOS</span>
</td>
<td style="text-align:right;"><span class="stlCodForm">CadFatEdit</span></td>
</tr></table>
<br/>
<table>
<tr><td><b>EMPRESA:</b></td> <td><span id="f_A01_NOME"></span></td></tr>
<tr><td><b>AGENDA:</b></td> <td><span id="f_A04_TITULO"></span></td></tr>
</table>
<br/>
<form id="CadastroFatorForm" action="#" method="post" autocomplete="off">
<span id="f_Mensagens" style="display:none; color:red;"></span>
<table>
<tr><td><label for="f_a06_titulo">Título: </label></td>
<td><input type="text" name="f_a06_titulo" id="f_a06_titulo" value="" /></td></tr>
<tr><td><label for="f_a06_descricao">Descrição: </label></td>
<td><textarea name="f_a06_descricao" id="f_a06_descricao" rows="4" cols="40"></textarea></td></tr>
</table>
<hr><br/>
<input type="button" id="salvar" value="Salvar e Sair" onclick="salvarCadastroFator(2)" />
<input type="button" id="cancelar" value="Cancelar e Sair" onclick="cancelarCadastroFator()" />
<br/>
<th:block th:replace="~{compartilhado/camposControle :: conteudo}"></th:block>
<th:block th:replace="~{compartilhado/camposCtrlAgenda :: conteudo}"></th:block>
<th:block th:replace="~{compartilhado/camposCtrlFator :: conteudo}"></th:block>
</form>

<script type="text/javascript" th:inline="javascript">
var nomeEmpresaFormularioFator = document.getElementById("f_A01_NOME");
nomeEmpresaFormularioFator.innerHTML = document.getElementById("ct_A01_NOME").value;
var tituloAgendaFormularioFator = document.getElementById("f_A04_TITULO");
tituloAgendaFormularioFator.innerHTML = document.getElementById("ct_A04_TITULO").value;
//---------------------------------------
var retornoValido = [[${pagina.okRetorno}]];
if (retornoValido == "OK") {
	var tituloFatorFormularioFator = document.getElementById("f_a06_titulo");
	tituloFatorFormularioFator.value = [[${pagina.oFatorModel_A06_titulo}]];
	var descricaoFatorFormularioFator = document.getElementById("f_a06_descricao");
	descricaoFatorFormularioFator.value = [[${pagina.oFatorModel_A06_descricao}]];
}
</script>
</body>
</html>