@charset "ISO-8859-1";

.tabTitForm{
	width: 100%;
}

.stlTitForm{
	font-size:25px;
	color:#000000;
}

/* Formatação dos códigos das páginas */
.stlCodForm {
	color:#f5f5f5;
	/*color:#ff0000;*/
	font-family:arial;
	font-size:11px;
}

label {
	font-weight:bold;
}