
<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/compartilhado/css/principal.css}" />
<script type="text/javascript" th:src="@{/compartilhado/js/funcoesGerais.js}" th:inline="javascript"></script>
<title>Zeen Storm</title>
</head>

<body class="app-shell">
<input type="hidden" name="pdCodini" id="pdCodini" />
<th:block th:replace="~{compartilhado/header :: conteudo}"></th:block>

<iframe id="indIFrame" src="" width="100%" title="Área de trabalho">
    Your browser doesn't support iframes
</iframe>
<script type="text/javascript" th:inline="javascript">
	var jsCodini = [[${pagina.indCodini}]];
	var jsIFrame = [[${pagina.indIFrame}]];
	var jsPdUsuSessao = [[${pagina.indUsuSessao}]];
	var indIFrame = document.getElementById("indIFrame");
	document.getElementById("pdCodini").value = jsCodini;
	if (jsPdUsuSessao != "") {
		var jsPdNomeUsuSessao = [[${pagina.indNomeUsuSessao}]];
		var pdUsuSessao = document.getElementById("pdUsuSessao");
		var pdNomeUsuSessao = document.getElementById("pdNomeUsuSessao");
		var elementoNomeUsuarioCabecalho = document.getElementById("txt_user_session");
		pdUsuSessao.value = jsPdUsuSessao;
		pdNomeUsuSessao.value = jsPdNomeUsuSessao;
		elementoNomeUsuarioCabecalho.innerHTML = jsPdNomeUsuSessao.toUpperCase();
	}
	//-------------------------------------------
	indIFrame.src = jsIFrame;
</script>
</body>
</html>
